@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
}

.stars {
  z-index: 0;
  background: #000 url('https://i.imgur.com/YKY28eT.png') repeat top center;
}

.twinkling {
  z-index: 1;
  background: transparent url('https://i.imgur.com/XYMF4ca.png') repeat top
    center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 2;
  background: transparent url('https://i.imgur.com/mHbScrQ.png') repeat top
    center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.top-layer {
  z-index: 999;
}
